<h1>Store Details</h1>

<table>
  <tr>
    <td>ID:</td>
    <td><%= store.store_id %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= store.name %></td>
  </tr>
  <tr>
    <td>Location:</td>
    <td><%= store.location %></td>
  </tr>
  <tr>
    <td>Admin ID:</td>
    <td><%= store.admin_id %></td>
  </tr>
</table>
