/* 

.checkout-container {

  flex-direction: column;
  min-height: 100vh;
}

.checkout-content {
  flex: 1;

  flex-direction: column;
  align-items: center;
  padding: 5rem;
}



.cart-empty {
  font-size: 1.2rem;
}

.col-sm-12.col-md-6.col-lg-4 {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 350px;
}

.checkout-total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}



.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-right {
  margin-right: 1rem;
}

input[type="text"],
input[type="email"] {
  flex-grow: 1;
}






@media (max-width: 992px) {
  .checkout-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .col-sm-12.col-md-6.col-lg-4 {
    flex-basis: 100%;
    max-width: 100%;
  }
} */
.checkout-heading {
  margin-top: 5rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  
}

.checkout-form {
  display: inline-block;
  border: 1px solid rgb(15, 6, 6);
  padding: 1rem 1rem;
  text-align: center;
  
  vertical-align: middle;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto; 
}

.checkout-content {
  border: 0.1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.checkout-button {
  align-self: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #0d1f33;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #0056b3;
}