.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .homePage-header {
    background-color: #515f6d;
    color: white;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
  }
  
  .homePage-content {
    padding: 2rem;
    width: 80%;
  }
  
  .homePage-about,
  .homePage-services,
  .homePage-contact {
    margin-bottom: 2rem;
  }
  
  .homePage-about p,
  .homePage-contact p {
    line-height: 1.5;
  }
  
  .homePage-services ul {
    list-style-type: none;
    padding: 0;
  }
  
  .homePage-services li {
    margin-bottom: 0.5rem;
  }
  